doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="ac-discovery", content=`${domain} https://${domain}/aci/{os}/{arch}/{name}-{version}.{ext}`)
        title Images
    body
        h1 All your favorite images...